# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environnements virtuels
.venv/
venv/

# Données & ML
data/
mlruns/
reports/
monitoring/reports/

# Notebooks
*.ipynb

# Git
.git/
.gitignore

# OS
.DS_Store
Thumbs.db
